.middle-align {
    margin: auto;
    display: table;
    background-color: transparent !important;
}

.img {
    background-repeat: no-repeat !important;
    background-size: auto 140% !important;
    background-position: 25% 50% !important;
    height: 7.5em !important;
    width: 7.5em !important;
    margin: auto;
	margin-top:1em;
}


.roomy{
    margin-top:1em;
}

.custom-button{
    padding:0.75em;
    background-color:#f36d00;
    color:white;
    box-shadow:inset  0 2px 1px rgba(255, 255, 255, 0.67);
    transition:all 300ms;
}

.custom-button:hover{
    color:white;
    box-shadow:inset  0 2px 1px rgba(255, 255, 255, 0.67);
    background-color: #ff8b33;

}

.no-show{
    visibility: hidden;
}

.pet-title-even {
    padding-top: 10px;
    min-height: 4em;
    background-color: transparent !important;
}

.text-box {
    min-height: 225px;
}

.hidden {
    display: none;
}

.post-display {

}

.pagination {

}

.pagination li {

}

.inline{
    display:inline-block !important;
}

.inline-display li{
    display:inline-block;
    margin-right:5px;
}