 @font-face {
	font-family: Cooper;
	src: url('../fonts/CooperBlackStd.otf');
}
/******************* General *****************/

body {
	background:#17afb6;
	color:white;
	font:16px/1.5em Arial;

}

/******************* Header *****************/

h1 {
	font-size:1.5em;
}

ul {
	list-style:none;
}

label {
	cursor:default;
}

a:hover, a:focus {
	/*color:white;*/
}
.header {
	background-color:#ffb81f;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	
}

.header a.logo img {
	margin-top:1.65em;
}

.header ul.inline-list {
	margin-top:2.25em;
}

.header ul.inline-list li {
	padding-left:1em;
	border-left:solid 1px #ffcf67;
}

.header ul.inline-list li:first-child {
	border:none;
}

.header ul.inline-list li a {
	color: #ffffff;
	font-size:0.85em;
	font-weight:bold;
	transition:all ease-in 0.3s;
}

.header ul.inline-list li a:hover {
    color: #e86400;
}

.header ul li.access {
	margin-top:0.2em;
	margin-bottom:2em;
}

.header a.access {
	font-size:0.75em;
	margin-top:0.5em;
	color:#7e5701;
	transition:all ease-in 0.3s;
}

.header a.acess:hover {
	text-decoration:underline;
}

.custom-button  {
	font-size:0.75em;
	margin-left:1.65em;
	margin-top:1em;
}

.roomy {
	margin-top:0 !important;
}
/******************* Login Form *****************/
#loginForm form {
	margin-bottom:0;
}

#loginForm form i {
	background:#ffb81f;
	padding:0.5em;
	padding-right:0.25em;
	color:white;
	display:inline-block;
	width:12%;
}

#loginForm form input {
	display:inline-block;
	width:84.5%;
	border-radius: 0 3px 3px 0;
}

#loginForm form input:focus {
	box-shadow:none;
	border:solid 1px #fc6246;
}

#loginForm p {
	color:grey;
	font-size:0.75em;
	margin-bottom:0;
	margin-top:1.5em;
}	

#loginForm .register {
	float:left;
	color:#f36d00;
	font-size:0.75em;
}

#loginForm .login-button  {
	float:right;
}

#loginForm .login-button i {
	font-size:2em;
	color:#ffb81f
}

/******************* Content *****************/

.content {
	padding-top:4em;
}

.banner .left {
	background:#0a959b;
	padding:2em;
}

.banner .left img {
	margin-bottom:1em;
}

.banner .left .search {
	margin-top:2em;
}

.banner .left label {
	color:white;
}

.banner .left a.button {
	background-color:#ffb81f;
	border:none;
	color:#745003;
	border-radius:3px;
	box-shadow:inset 0px 1px 0 rgba(255,255,255,0.5);
	border-bottom:solid 1px #0e7c81;
}

.banner .left a.button:hover {
	background:#ffcb5b;
}

.banner .right {

}

.banner .right img {
	margin-top:4em;
}

/********* Content - Recent Nav *****************/
.recent-nav {
	margin-top:3em;
}

.recent-nav ul {
	margin:0;
}

.recent-nav li {
	margin:0;
	margin-left:1em;
}

.recent-nav li a{
	display:block;
	padding:0.5em;
	color:white;
}

.recent-nav li a:hover {
	text-decoration:underline;
}

.recent-nav li:first-child {
	border-left:0;
	margin:0;
}

.selected {
	background:#f36d00;
	text-decoration:none;
}


.selected:after {
	content:"";
	position:absolute;
	top:2.5em;
	left:3em;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #f36d00 transparent transparent 
}

/********* Content - Recent Posts *****************/

.recent  {
	margin-bottom:5em;
	background:#0a959b;
	padding:1em;
	
}

.recent ul li {
	padding-bottom:0;
	padding:0.5em;
}

.recent li div {
	background:rgba(255,255,255,0.1);
	padding:0.5em;
	overflow:hidden;
}

.recent span {
	color:#ffb81f;
}

.recent img {
	background:white;
	border:solid 1px #0b7e83;
}

.recent p {
	color:white;
	font-size:1em;
	font-weight:bold;
	margin:0;
}

/****************** Footer ********************/

.footer {
	background:#108287;
	padding-top:1em;
	border-top:solid 3px #ffb81f;
}

.footer a {
	color:white;
}

.footer a:hover {
	text-decoration:underline;
}

/********************************************************/
/****************** Individual Pages ********************/
/********************************************************/

.body {
	background:white;
	padding:1em 2.5em;
	padding-bottom:1em;
	margin-bottom:5em;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
	color:grey;
}

.body h5 {
	color:grey;
}

.body h1 {
	font-size:2em;
}

.body .breadcrumbs {
	margin-bottom:1em;
}

.sort {
	background:#f9f9f9;
	border:solid 1px #ededed;
	padding:1em;
	color:grey;
}

.sort h5 {
	color:grey;
	margin-bottom:1em;
}

.sort label {
	font-size:1em;
}

.sort input {
	width:100%;
	margin-bottom:1em;
	border:solid 1px #dedede;
	padding:0.5em;
}

.sort select {
   background: white;
   border-radius: 0;
   -webkit-appearance: none;
   border:solid 1px #dedede;
   padding:0.5em;
}

.sort a {
	margin-left:3em;
}
   
.results-box {
	
}

.results-box .heading {
	border-bottom:solid 1px #d6d6d6;
}

.heading select {
	background: white;
   border-radius: 0;
   -webkit-appearance: none;
   border:solid 1px #dedede;
   padding:0.5em;
}

.heading span {
	display:inline-block;
	color:grey;
	margin-top:0.5em;
}

.pagination {
	float:right;
	margin-top:0.5em;
}

.pagination span {
	margin-top:0.1em;
}

.pagination li.active span {
	color:#fa6142
}

.pagination li.disabled {
	margin-right:1em;
	margin-left:1em;
}

.results-box .result {
	border:solid 1px #d6d6d6;
	border-top:none;
	padding:1em;
}

.result .img {
	height:7.5em;
	width:7.5em;
	overflow:hidden;
}

.result .info-section {
	margin-top:1em;
	padding-left:1em;
}

.img img {
	width:100%;
	height:100%;
}

.result p {
	margin-bottom:0;
	color:grey;
}

.result .type {
	font-weight:bold;
}

.result .type span {
	color:grey;
}

.result h1 {
	font-size:1em;
}

