 @font-face {
	font-family: Cooper;
	src: url('../fonts/CooperBlackStd.otf');
}
/******************* General *****************/

body {
	background:#17afb6;
	color:white;
	font:16px/1.5em Arial;

}

.header {
	background-color:#ffb81f;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}

.header .row {
	padding:1em 0 1em;
}

.header ul {
	margin-top:0.75em;
	margin-bottom:0;
	margin-right:1em;
}

.header ul li {
	padding-left:1em;
	font-weight:600;
	font-size:0.9em;
}

.header ul li a {
	color:white;
	transition:all ease-in 0.3s;
}

.header ul li a:hover {
	color:#f36d00;
}

.header a.button {
	margin-bottom:0;
	box-shadow:inset 0px 1px 0 #f9b680;
	border-radius:3px;
	border:solid 1px #e06603;
	border-bottom:solid 2px #e06603;
	background:#f36d00;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1em;
}

.header a.button:hover {
	background:#fd7c14;
	text-decoration:underline;
}

.content {
	padding-top:4em;
}

.banner .left {
	background:#0a959b;
	padding:2em;
}

.banner .left img {
	margin-bottom:1em;
}

.banner .left .search {
	margin-top:2em;
}

.banner .left label {
	color:white;
}

.banner .left a.button {
	background-color:#ffb81f;
	border:none;
	color:#745003;
	border-radius:3px;
	box-shadow:inset 0px 1px 0 rgba(255,255,255,0.5);
	border-bottom:solid 1px #0e7c81;
}

.banner .left a.button:hover {
	background:#fec54b;
}

.banner .right {

}

.banner .right img {
	margin-top:4em;
}

.recent-nav {
	margin-top:4em;
}

.recent-nav ul {
	margin:0;
	background:#ffb81f;
	border-right:solid 1px #e4a622;
}

.recent-nav li {
	border-right:solid 1px #e4a622;
	border-left:solid 1px #ffc549;
	margin:0;
}

.recent-nav li a{
	display:block;
	padding:0.5em;
	color:white;
}

.recent-nav li a:hover {
	background:#f36d00;
}

.recent-nav li:first-child {
	border-left:0;
}

.selected {
	background:#f36d00;
}

.recent  {
	margin-bottom:5em;
	background:#0a959b;
	padding:1em;
	
}

.recent ul li {
	padding-bottom:0;
	padding:0.5em;
}

.recent li div {
	background:white;
	padding:0.5em;
	overflow:hidden;
}

.recent span {
	color:#f36d00;
}

.recent img {
	background:white;
	border:solid 1px #0b7e83;
}

.recent p {
	color:#ffb81f;
	font-size:1em;
	font-weight:bold;
	background:white;
	margin:0;
}

.categories {
}

.categories li {
	padding:0;
}

.categories li div {
	background:white;
	color:#0b6a6e;
	margin:0.5em;
	padding:0.5em;
}

.categories > .column {
	background:white;
	color:black;
}

.categories h5 {
	color:#f36d00;
	font-size:1.25em;
}